{% extends 'base.html' %}
{% block body_block %}
<title>El Psy Kongroo</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script> -->
<!--     $(document).ready(function(){ -->
<!--             $chapvar = $("#chapter"); -->
<!--             $lessonvar = $("#lesson"); -->
<!--             $lessondetailvar = $("#lesson_detail") -->

<!--             $options = $lessonvar.find('option'); -->
<!--             $chapvar.on('change', function(){ -->
<!--                 $lessonvar.html($options.filter('[value="'+this.value+'"]')); -->
<!--             }).trigger('change'); -->
<!-- <!-1-             $lessonvar.on('change', function(){ -1-> -->
<!-- <!-1-                 var _rel = $(this).val(); -1-> -->
<!-- <!-1-                 $lessonvar.val(''); -1-> -->
<!-- <!-1-                 $lessondetailvar.val(''); -1-> -->
<!-- <!-1-                 $lessonvar.find("option").css("display", "none"); -1-> -->
<!-- <!-1-                 $lessonvar.find("[rel="+_rel+"]").show(); -1-> -->
<!-- <!-1-                 $lessondetailvar.find("option").css("display", "none"); -1-> -->
<!-- <!-1-                 $lessondetailvar.find("[rel="+_rel+"]").show(); -1-> -->
<!-- <!-1-             }); -1-> -->
<!--     }); -->
<!-- </script> -->
<h2 class="text-center mt-3 mb-3 border border-primary"><b>PS Searcher</b></h2>
<div class="container my-4 post-wrapper">
    <div class="jumbotron border shadow">
        <div class="row">
            <div class="col-md-8 offset-2">
                <form>
                    <div class="input-group">
                        <form action='' method="GET" name="form1">
                        <!-- {% csrf_token %} -->
                        <!-- {{form.as_p}} -->
                        <input type="text" name="q" class="form-control form-control-lg" />
                        <input value="Search" class="btn btn-dark btn-lg" type="submit"/>
                        </form>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <form method="POST">
            {% csrf_token %}
            <select id="chapter" name="chap">
                <option disabled selected="true">-- Select Chapter --</option>
                {% for i in showchap %}
                <option value="{{i.ID}}">{{i.ID}}: {{i.name}}</option>
                {% endfor %}
            </select>
            <select id="lesson" name="les">
                <option disabled selected="true">-- Select Lesson --</option>
                {% for i in showlesson %}
                <option value="{{i.ID_chapter}}" rel="{{i.ID}}">{{i.ID_chapter}}: {{i.ID}}: {{i.name}}</option>
                {% endfor %}
            </select>
            <select id="lesson_detail" name="les_detail">
                <option disabled selected="true">-- Select Lesson Name --</option>
                {% for i in showlessondetail %}
                <option rel="{{i.ID_lesson}}" value="{{i.name}}">{{i.ID_lesson}}: {{i.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filter"/>
        </form>
    </div>
</div>
<br>

<!--
flag == 0 nghĩa là sử dụng nút Search
-->

{% if flag == 0 %}
    <h2>{{chapter}}</h2>
    <h3>{{lesson}}</h3>
    <h4>{{lesson_d}}</h4>
    {{ test|linebreaks }}
{% endif %}

<!--
flag != 0, nghĩa là sử dụng nút Filter
-->
{% if flag == 1 %}
    {% for i in test %}
    <h4>Bài {{forloop.counter}}. {{i}}</h4>
    {% endfor %}
{% endif %}

{% if flag == 2 %}
    {% for i in test %}
    <h4>{{forloop.counter}}. {{i}}</h4>
    {% endfor %}
{% endif %}

{% if flag == 3 %}
    <h2>{{chapter}}</h2>
    <h3>{{lesson}}</h3>
    <h4>{{lesson_d}}</h4>
    {{ test|linebreaks }}
{% endif %}


<div class="containter">
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-primary" href="{% url 'home' %}">Back to Home Page</a>
        </div>
    </div>
</div>



{% endblock  %}
